doctype html
html(lang="en")
  head
    title ChowHound
    meta(charset="UTF-8")
    link(rel="stylesheet", href=assetURL + 'style.css')
  body(ng-app="app")
    header
      span Ch
      span.glyphicon.glyphicon-time
      span wH
      span.glyphicon.glyphicon-time
      span und

    .app(data-ng-controller="chowhound")
      .menu(data-ng-show="!login.show && teams.teams.length")
        span#profileJewel.glyphicon.glyphicon-cog(data-ng-click="profile.modalTrigger()")
        button.item.btn.btn-default.btn-xs(data-ng-show="teams.isManager", data-ng-click="manager.show = !manager.show", data-ng-class="{ active: manager.show }") Manager
        .break
          button.btn.btn-primary(data-ng-click="break.modalTrigger()") Take off

      include ./views/login.jade
      include ./views/register.jade
      include ./views/break.jade
      include ./views/profile.jade
      include ./views/teams.jade

      footer
        div
          a.less(href="http://seandonmooy.com", target="_blank") By Seandon Mooy
          span.glyphicon.glyphicon-heart-empty
          a.less(href="http://github.com/erulabs/chowhound", target="_blank") Check the code!

    script(type='text/javascript', src=assetURL + 'vendor.js')
    script(type='text/javascript', src=assetURL + 'client.js')
