doctype html
html(lang="en")
  head
    title ChowHound
    meta(charset="UTF-8")
    link(rel="stylesheet", href=assetURL + 'style.css')
  body(ng-app="app")
    header
      span Ch
      span.glyphicon.glyphicon-time
      span wH
      span.glyphicon.glyphicon-time
      span und

    .app(data-ng-controller="chowhound")
      .menu(data-ng-show="!login.show && teams.teams.length")
        button.item.btn.btn-default.btn-xs(data-ng-click="profile.show = !profile.show", data-ng-class="{ active: profile.show }") Profile
        button.item.btn.btn-default.btn-xs(data-ng-show="teams.isManager", data-ng-click="manager.show = !manager.show", data-ng-class="{ active: manager.show }") Manager
        .break
          button.btn.btn-primary(data-ng-click="break.show = !break.show", data-ng-class="{ active: break.show }") Take off

      include ./views/login.jade
      include ./views/register.jade
      include ./views/break.jade
      include ./views/profile.jade
      include ./views/teams.jade

      footer.col-md-12
        div
          span.glyphicon.glyphicon-fire
        div
          span(data-ng-show="profile.username") Logged in as {{ profile.username }} -&nbsp;
          a.less.item(data-ng-click="profile.logout()", data-ng-show="!login.show && !register.show", href="#") Logout
        div
          span &nbsp;by&nbsp;
          a.less(href="http://seandonmooy.com", target="_blank") Seandon Mooy
          span &nbsp;-&nbsp;
          a.less(href="http://github.com/erulabs/chowhound", target="_blank") check the github

    script(type='text/javascript', src=assetURL + 'vendor.js')
    script(type='text/javascript', src=assetURL + 'client.js')
