doctype html
html(lang="en")
  head
    title Chowhound
    meta(charset="UTF-8")
    link(rel="stylesheet", href=assetURL + 'style.css')
  body
    script(type='text/javascript', src=assetURL + 'vendor.js')
    script(type='text/javascript', src=assetURL + 'client.js')
