@import "bootstrap/bootstrap.less";

/* latin */
@font-face {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Arbutus Slab'), local('ArbutusSlab-Regular'), url(/fonts/arbutusslab.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background-image: url("/images/bg.png");
  color: #ddd;
}

header {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 3em;
  font-family: 'Arbutus Slab', serif;
  color: #ddd;
  .glyphicon-time {
    font-size: 0.55em;
  }
}

.login, .register {
  width: 100%;
  text-align: center;
  .panel {
    width: 300px;
    margin: 0 auto;
    .panel-body {
      padding: 20px;
      padding-bottom: 8px;
      input {
        margin-bottom: 2px;
      }
      button {
        margin-top: 1px;
        margin-right: 10px;
        margin-bottom: 0px;
      }
      .form-group {
        margin-bottom: 4px;
      }
    }
  }
}

.panel-primary {
  border-color: #000;
}
.panel-heading {
  padding: 4px 10px;
  background-color: #555 !important;
  border-color: #555 !important;
}
.panel-body {
  background-color: #ccc;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel {
  color: #000;
  background-color: transparent !important;
}

footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  color: #ddd;
}

.loading {
  text-align: center;
  width: 100%;
  .glyphicon-time {
    font-size: 30em;
  }
}

.text-center {
  text-align: center;
}
