.profile(data-ng-show="profile.show || !teams.teams.length").col-md-6.col-md-offset-3
  .warn.text-center(data-ng-show="!teams.teams.length && !login.show && !register.show")
    div
      span You are not currently assigned to a team!
      br
      span Ask for an invite from anyone on the team, or
    div
      button.btn.btn-primary.padded(data-ng-show="!showJoinTeam", data-ng-click="showJoinTeam = !showJoinTeam") Create a new team!
      div(data-ng-show="showJoinTeam")
        form(data-ng-submit="profile.createTeam(newCreateTeamName)")
          .input-group.padded
            input(type="text", class="form-control", placeholder="Choose a new team name!", data-ng-model="newCreateTeamName")
            span.input-group-btn
              button.btn.btn-default(type="button", data-ng-click="profile.createTeam(newCreateTeamName)") Create!
  script#profileModalContent(type="text/ng-template")
    .modal-header
      h3.modal-title Profile for {{ profile.username }}
    .modal-body
      div.text-center(data-ng-show="profile.username")
        span Logged in as {{ profile.username }} -&nbsp;
        a.item(data-ng-click="profile.logout()", href="#") Logout
      h3 Teams:
      ul
        li(data-ng-repeat="team in teams.teams") {{ team }}

      h3 Schedule:
      .text-center
        include ./schedule.jade

      div.text-center
        button.btn.btn-primary(type="button", data-ng-click="profile.saveProfile()") Save
