.register(data-ng-show="register.show")
  .panel.panel-primary
    .panel-heading Register
    .panel-body
      form(data-ng-submit="register.submit()")
        .form-group
          input(type="email", class="form-control", placeholder="Email", data-ng-model="register.username")
          input(type="password", class="form-control", placeholder="Password", data-ng-model="register.password")
          input(type="password", class="form-control", placeholder="Confirm Password", data-ng-model="register.password_confirm")

        include ./schedule.jade

        .form-group
          br
          button.btn.btn-primary(type="submit") Sign up
      a(href="#", data-ng-click="register.back()") Back
