.form-group.text-center
  label(for="timepicker_start") Work Starts at:
  timepicker#timepicker_start.timepicker(data-ng-model="register.starttime", data-ng-change="register.starttimeChanged()" hour-step="1" minute-step="15" show-meridian="ismeridian")

.form-group.text-center
  label(for="timepicker_end") Work Ends at:
  timepicker#timepicker_end.timepicker(data-ng-model="register.endtime", data-ng-change="register.starttimeChanged()" hour-step="1" minute-step="15" show-meridian="ismeridian")

.form-group.center-margin.text-center
  label Which days do you work?
  div.small-margin-bottom
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.mon", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.mon").glyphicon.glyphicon-check Monday
      span(data-ng-hide="register.dotw.mon").glyphicon.glyphicon-unchecked Monday
    span &nbsp;
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.tue", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.tue").glyphicon.glyphicon-check Tueday
      span(data-ng-hide="register.dotw.tue").glyphicon.glyphicon-unchecked Tueday
    span &nbsp;
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.wed", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.wed").glyphicon.glyphicon-check Wednesday
      span(data-ng-hide="register.dotw.wed").glyphicon.glyphicon-unchecked Wednesday
    span &nbsp;
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.thu", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.thu").glyphicon.glyphicon-check Thursday
      span(data-ng-hide="register.dotw.thu").glyphicon.glyphicon-unchecked Thursday
    span &nbsp;
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.fri", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.fri").glyphicon.glyphicon-check Friday
      span(data-ng-hide="register.dotw.fri").glyphicon.glyphicon-unchecked Friday
    span &nbsp;
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.sat", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.sat").glyphicon.glyphicon-check Saturday
      span(data-ng-hide="register.dotw.sat").glyphicon.glyphicon-unchecked Saturday
    span &nbsp;
    button.btn.btn-xs.btn-default(data-ng-model="register.dotw.sun", type="button", btn-checkbox, btn-checkbox-true="1", btn-checkbox-false="0")
      span(data-ng-show="register.dotw.sun").glyphicon.glyphicon-check Sunday
      span(data-ng-hide="register.dotw.sun").glyphicon.glyphicon-unchecked Sunday
